
gauges_dg808s_panel_2-element #nav_display {
		position: absolute;
		overflow: hidden;
		left: 130px;
		top: 5px;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/nav_display_nav_display_background.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		width: 121px;
		height: 122px;
}

gauges_dg808s_panel_2-element #nav_display_top {
		background: transparent;
		position: absolute;
		overflow: hidden;
		width: 100px;
		height: 24px;
		left: 11px;
		top: 20px;
		white-space: nowrap;
        overflow: hidden;
		color: #000000;
		font-size: 22px;
		overflow: hidden;
        max-width: 25ch;
		vertical-align: center;
        text-align: center;
}

gauges_dg808s_panel_2-element #nav_display_middle {
		background: transparent;
		position: absolute;
		overflow: hidden;
        display: none;
		width: 100px;
		height: 24px;
		left: 11px;
		top: 54px;
		white-space: nowrap;
        overflow: hidden;
		color: #000000;
		font-family: "Quartz";
		font-size: 22px;
		overflow: hidden;
        max-width: 25ch;
		vertical-align: center;
        text-align: center;
}

gauges_dg808s_panel_2-element #nav_display_bottom {
		background: transparent;
		position: absolute;
		overflow: hidden;

		width: 100px;
		height: 24px;
		left: 11px;
		top: 72px;
		white-space: nowrap;
        overflow: hidden;
		color: #000000;
		font-family: "Quartz";
		font-size: 22px;
		overflow: hidden;
        max-width: 25ch;
		vertical-align: center;
        text-align: center;
}

gauges_dg808s_panel_2-element #nav_display_pointer0 {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/zero.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        /*display: none; */
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
