
gauges_dg808s_panel_2-element #nav_display {
		left: 130px;
		top: 5px;
		width: 121px;
		height: 122px;
		position: absolute;
		overflow: hidden;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/background.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
}

gauges_dg808s_panel_2-element #nav_display_top_div {
		left: 11px;
		top: 20px;
		width: 100px;
		height: 24px;
		background: transparent;
		position: absolute;
		overflow: hidden;
		white-space: nowrap;
        overflow: hidden;
		color: #000000;
		font-size: 22px;
        max-width: 25ch;
		vertical-align: middle;
        text-align: center;
}

gauges_dg808s_panel_2-element #nav_display_top {
    display: inline-block;
    vertical-align: middle;
}

gauges_dg808s_panel_2-element #nav_display_middle {
		background: transparent;
		position: absolute;
		overflow: hidden;
		width: 100px;
		height: 24px;
		left: 11px;
		top: 54px;
		white-space: nowrap;
        overflow: hidden;
		color: #000000;
		font-family: "Quartz";
		font-size: 22px;
        max-width: 25ch;
		vertical-align: middle;
        text-align: center;
}

gauges_dg808s_panel_2-element #nav_display_bottom {
		background: transparent;
		position: absolute;
		overflow: hidden;

		width: 100px;
		height: 24px;
		left: 11px;
		top: 72px;
		white-space: nowrap;
        overflow: hidden;
		color: #000000;
		font-family: "Quartz";
		font-size: 22px;
        max-width: 25ch;
		vertical-align: middle;
        text-align: center;
}

gauges_dg808s_panel_2-element #nav_display_4L {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/4L.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: none;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
gauges_dg808s_panel_2-element #nav_display_3L {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/3L.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: none;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
gauges_dg808s_panel_2-element #nav_display_2L {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/2L.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: none;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
gauges_dg808s_panel_2-element #nav_display_1L {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/1L.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: none;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
gauges_dg808s_panel_2-element #nav_display_zero {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/zero.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: none;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
gauges_dg808s_panel_2-element #nav_display_1R {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/1R.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: none;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
gauges_dg808s_panel_2-element #nav_display_2R {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/2R.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: none;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
gauges_dg808s_panel_2-element #nav_display_3R {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/3R.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: none;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
gauges_dg808s_panel_2-element #nav_display_4R {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/4R.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: none;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
gauges_dg808s_panel_2-element #nav_display_all {
		background: transparent;
		background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/nav_display/all.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
		position: absolute;
		overflow: hidden;
        display: block;
		height: 12px;
		top: 44px;
		width: 95px;
		left: 11px;
	}
