/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
@font-face {
  font-family: "Font-Italic";
  src: url("/Fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Font-Bold";
  src: url("/Fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Font-BoldItalic";
  src: url("/Fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Font-Medium";
  src: url("/Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Quartz";
  src: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/Fonts/Quartz.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }


gauges_dg808s_panel_2-element {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("/Pages/VLivery/Liveries/legacy/dg808s_panel/DG808s_Panel_Gauges_2.png");
  background-color: #111;
  background-repeat: no-repeat;
  background-size: cover;
}

  gauges_dg808s_panel_2-element #Mainframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	background: transparent;
  }

    gauges_dg808s_panel_2-element #Mainframe #background {
      width: 100%;
      height: 100%;
      position: absolute;
	  background: transparent;
	  }

.b21_debug {
    display: none; /* will be enabled in JS as needed */
   /* background: transparent; */
    position: absolute;
    /* overflow: hidden; */
    font-size: 20px;
    font-family: "Font-Bold";
    color: white;
    height: 24px;
    margin-bottom: 2px;
    width: 100px;
    text-align: right;
    vertical-align: center;
}
